.App {
  text-align: center;
  background: #2962ff;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Main {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  /* height: 1000px; */
  display: inline-block;
  /* opacity: 0.5; */
}

.MainImage {
  width: 50%;
}

.Image {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.DetailsTop {
  padding-top: 5px;
  padding-bottom: 20px;
}

.MainDetails {
  margin-bottom: 20px;
  height: 60%;
}

.Title {
  padding-top: 15px;
  font-size: 36px;
  font-family: "Dosis", sans-serif;
}

.Tagline {
  font-size: 24px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  color: #0d47a1;
}

.Overview {
  text-align: left;
  font-size: 18px;
  font-family: "Arimo", sans-serif;
}

.Details {
  padding-right: 40px;
}

.Other {
  margin-top: 40px;
}

.Heading {
  font-family: "Dosis", sans-serif;
  font-size: 22px;
}

.Loading {
  font-size: 42px;
}
.Search {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  color: white;
  font-family: "Arimo", sans-serif;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Credits {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

.Name {
  color: wheat;
}

.Logo {
  align-content: center;
  width: 10%;
  margin-top: 30px;
}